<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>playMusic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>439206E41ED5B6AF0078B1A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>439206FD1ED5B6AF0078B1A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>439207081ED5B6B00078B1A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
